@using RecipesPWA.Common.Recipes
@using RecipesPWA.Common
@using RecipesPWA.Common.Components
@inject IRequestService<Recipe> RequestService
@inject NavigationManager NavigationManager
@inherits RecipeForm

<EditForm class="recipe"
          EditContext="@_editContext"
          OnValidSubmit="() => InvokeValueChangedCallback(TValue)"
          OnInvalidSubmit="() => InvokeValueChangedCallback(BackupValue)">
    <DataAnnotationsValidator />

    <InputText class="input-field input-field-30percent" @bind-Value="@TValue.Name" placeholder="Recept:" />
    <SubRecipesForm @bind-Value="@TValue.SubRecipes" Values="@TValue.SubRecipes" />
    <InputTextArea class="input-field text-input-wide" @bind-Value="@Instruction" />

    <button class="submit-button input-field-10percent" type="submit" onclick="@OnMouseClick">@ButtonText</button>

</EditForm>

@code
{
    [Parameter]
    public new Recipe TValue { get; set; }

    protected override string SubmitButtonText(bool isNew, bool mustBeRemoved)
    {
        return "Módosít";
    }

    protected override async void OnMouseClick()
    {
        var validationResult = _editContext.Validate();

        if (validationResult)
        {
            TValue = await RequestService.Update(TValue);
            NavigationManager.NavigateTo("/");
        }
    }
}